/* Сброс */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #000;
    color: #ffffff;
    line-height: 1.6;
}

/* ===== ОБЩИЙ ЛЕЙАУТ ===== */

.layout {
    display: flex;
}


/* ===== КОНТЕНТ ===== */

.content {
    margin-left: 270px;
    padding: 60px 60px;
    max-width: 1000px;
}

.page-header h1 {
    font-size: 48px;
    color: #ff2a2a;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.page-header p {
    color: #888;
    margin-bottom: 40px;
}

/* ===== СЕКЦИИ ===== */

.section {
    background: #111;
    padding: 30px;
    margin-bottom: 40px;
    border-radius: 14px;
    border: 1px solid #1c1c1c;
    transition: 0.3s ease;
}

.section:hover {
    border: 1px solid #ff2a2a;
}

.section h2 {
    color: #ff2a2a;
    margin-bottom: 20px;
    font-size: 22px;
}

.section p {
    margin-bottom: 12px;
    color: #dddddd;
}

/* ===== БЛОК С КОДОВЫМ СЛОВОМ ===== */


/* ===== ФУТЕР ===== */

.footer {
    margin-top: 60px;
    padding-top: 20px;
    border-top: 1px solid #1c1c1c;
    text-align: center;
    color: #777;
    font-size: 14px;
}

/* ===== СКРОЛЛБАР ===== */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
    background: #ff2a2a;
    border-radius: 10px;
}

/* ===== ИКОНКА ГРУППЫ ===== */

.group-avatar {
    position: fixed;
    top: 20px;
    right: 25px;
    z-index: 1000;
}

.group-avatar img {
    width: 90px;
    height: 90px; /* ВАЖНО: одинаково */
    border-radius: 50%; /* делает круг */
    object-fit: cover;
    border: 3px solid #ff2a2a;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.4);
    transition: 0.3s ease;
}


.group-avatar img:hover {
    transform: scale(1.05);
}


/* ===== АДАПТАЦИЯ ПОД ТЕЛЕФОН ===== */

@media (max-width: 900px) {

    .sidebar {
        position: relative;
        width: 100%;
        height: auto;
        border-right: none;
        border-bottom: 1px solid #1c1c1c;
    }

    .content {
        margin-left: 0;
        padding: 40px 20px;
    }

    .page-header h1 {
        font-size: 32px;
    }

    .section {
        padding: 20px;
    }

  .group-avatar img {
    width: 60px;
    height: 60px;
}



}

